<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>

    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="shortcut icon" href="../images/logo_sin_letras.png" type="image/png" />
    <!-- <link rel="stylesheet" href="../css/myCSS.css"> -->
    <link rel="stylesheet" href="../bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/productListStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .bg-orange {
            background-color: #E07500;
        }
    </style>
</head>

<body ng-app="theForest" ng-controller="shoppingController">
    <nav class="navbar nav-forest">
        <div class="container-fluid row px-0 mx-0">
            <div class="col-3 d-flex justify-content-start">
                <a class="navbar-brand" href="#">
                    <img class="img-nav" src="../images/logo_wb.svg" alt="The forest">
                    <!-- The Forest -->
                </a>
            </div>
            <div class="col-9 d-flex justify-content-end">
                <div>
                    <button type="button" class="btn text-white fw-bold img-nav mx-2">
                        <i data-feather="bell"></i>
                    </button>
                </div>
                <div>
                    <button type="button" class="btn text-white fw-bold img-nav mx-2">
                        <i data-feather="shopping-cart"></i>
                    </button>
                </div>
                <div>
                    <button type="button" class="btn text-white fw-bold img-nav mx-2">
                        <i data-feather="menu"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3" style="margin-left: 20px;">
                <button class="btn">
                    <img src="../images/back.png" style="width: 30px; height: 40px;">&nbsp;Seguir Pidiendo
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-6">
                <h2>Finalizar Pedido</h2>
            </div>
            <div class="col-6 text-end">
                <button class="btn shadow" style="border-color: rgb(121, 121, 121); border-radius: 20px;">
                    <P class="ms-2 h5">Pagar Pedido | $300.00 MXN</P>
                </button>
            </div>
        </div>
        <div class="row mt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Platillo</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center" scope="row">
                            <img src="../images/choripan.jpg" style="width: 150px; height: 150px;">
                            <p class="text-center">Choripan</p>
                        </th>
                        <td>
                            <img src="../images/star.png" style="width: 30px; height: 30px;">
                            <img src="../images/star.png" style="width: 30px; height: 30px;">
                            <img src="../images/star.png" style="width: 30px; height: 30px;">
                            <img src="../images/rating.png" style="width: 30px; height: 30px;">
                            <p class="mt-3">
                                Lorem ipsum dolor sit
                                amet consectetur
                            </p>
                            <p class="mt-5">
                                <button class="btn" ng-click="favchng()">
                                    <img ng-hide="fav" src="../images/favorito.png" style="width: 30px; height: 30px;">
                                    <img ng-hide="!fav" src="../images/favorito-clr.png"
                                        style="width: 30px; height: 30px;">Añadir a
                                    favoritos
                                </button>
                            </p>
                        </td>
                        <td>$150.00 MXN</td>
                        <td>
                            <button class="btn" ng-click="restar()">
                                <img src="../images/minus-line.png" alt="Más" style="width: 10px; height: 10px;">
                            </button>
                            <input type="number" ng-disabled="true" ng-model="cantidad" style="width: 60px;"></label>
                            <button class="btn" ng-click="sumar()">
                                <img src="../images/plus.png" alt="Más" style="width: 10px; height: 10px;">
                            </button>
                        </td>
                        <td>$150.00 MXN</td>
                    </tr>
                    <tr>
                        <th class="text-center" scope="row">
                            <img src="../images/kebab.jpg" style="width: 150px; height: 150px;">
                            <p class="text-center">Kebab</p>
                        </th>
                        <td>
                            <img src="../images/star.png" style="width: 30px; height: 30px;">
                            <img src="../images/star.png" style="width: 30px; height: 30px;">
                            <img src="../images/star.png" style="width: 30px; height: 30px;">
                            <img src="../images/rating.png" style="width: 30px; height: 30px;">
                            <p class="text-sm-start mt-3">
                                Lorem ipsum dolor sit
                                amet consectetur
                            </p>
                            <p class="mt-5">
                                <button class="btn" ng-click="favchng2()">
                                    <img ng-hide="fav2" src="../images/favorito.png" style="width: 30px; height: 30px;">
                                    <img ng-hide="!fav2" src="../images/favorito-clr.png"
                                        style="width: 30px; height: 30px;">Añadir a
                                    favoritos
                                </button>
                            </p>
                        </td>
                        <td>$150.00 MXN</td>
                        <td>
                            <button class="btn" ng-click="restar2()">
                                <img src="../images/minus-line.png" alt="Más" style="width: 10px; height: 10px;">
                            </button>
                            <input type="number" ng-disabled="true" ng-model="cantidad2" style="width: 60px;"></label>
                            <button class="btn" ng-click="sumar2()">
                                <img src="../images/plus.png" alt="Más" style="width: 10px; height: 10px;">
                            </button>
                        </td>
                        <td>$150.00 MXN</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="../js/angular.min.js"></script>
    <script src="../js/loginController.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        feather.replace()
    </script>

</body>

</html>